  body { background-color: #1E1959 ;
         background-image: url("https://png.pngtree.com/thumb_back/fh260/back_pic/02/65/63/65578876d4f20e9.jpg");


       }
      #wrapper {
        width: 960px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 1%;
      }

      textarea, input {
        display: block;
        width: 100%;
        background-color: #FFF8AA;
      }
      input {
        height: 36px;
        font-size: 24px;
      }
      textarea {
        height: 200px;
        font-size: 18px;
      }
      h3{
        color: white;
      }

      blockquote{
        background-color: rgb(92, 236, 52);
        margin-right: 0px;
      }
      p{
        color: black;
      }

      .blockquote-footer{
        color: blue;
      }

      h1, h2{
        color: rgb(240, 227, 52);
        text-align: center;
      }
